<template>
  <div class="recipe-card">
    <div class="image-wrapper">
      <img src="//via.placeholder.com/250x150" alt="image">
    </div>
    <div class="detail-wrapper">
      <p class="title">
        {{ recipe.title }}
      </p>
      <Rating
        :score="recipe.score"
      />
      <div class="description">
        {{ recipe.description }}
      </div>
      <div class="author-wrapper">
        <div class="author-image-wrapper">
          <img src="//via.placeholder.com/50" alt="image">
        </div>
        <div class="author-name">
          By <b>{{ recipe.author }}</b>
        </div>
      </div>
    </div>
    <div class="footer-wrapper">
      <div class="category">
        <i class="material-icons folder_open" />
        <p>
          {{ recipe.category }}
        </p>
      </div>
      <div class="time">
        <i class="material-icons access_time" />
        <p>
          {{ recipe.time }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import Rating from '@/components/Rating'

export default {
  props: {
    recipe: {
      default: () => {},
      type: Object,
    },
  },
  components: {
    Rating,
  },
}
</script>

<style lang="scss" scoped>

.recipe-card {
  border-radius: 8px;
  overflow: hidden;
  width: 250px;
  border: 1px solid #cfcfcf;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  > .detail-wrapper {
    text-align: left;
    padding: 20px 16px;
    border-bottom: 1px solid #cfcfcf;
    > .title {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 8px;
    }
    > .description {
      font-size: 0.9rem;
      color: #979797;
      margin: 8px 0;
    }
    > .author-wrapper {
      display: flex;
      align-items: center;
      margin-top: 8px;
      > .author-image-wrapper {
        width: 28px;
        height: 28px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
      > .author-name {
        font-size: 0.9rem;
        margin-left: 8px;
      }
    }
  }
  > .footer-wrapper {
    display: flex;
    > div {
      flex: 1;
      padding: 8px 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      > i {
        margin-right: 8px;
        font-size: 1rem;
        color: #73ff50;
      }
      > p {
        font-size: 0.8rem;
      }
      &:first-child {
        border-right: 1px solid #cfcfcf;
      }
    }
  }
}
</style>
