<template>
  <div class="home">
    <ImageCarousel
    />
    <div class="section">
      <p class="title">
        Choose a Category
      </p>
      <p class="sub-title">
        Recipe Categories
      </p>
      <div class="category-items-wrapper">
        <div
          class="category-item"
          v-for="(category, index) in categories"
          :key="index"
        >
          <img src="//via.placeholder.com/150" alt="image">
          <p class="name">{{ category.name }}</p>
        </div>
      </div>
    </div>
    <div class="section">
      <p class="title">
        Recent Recipes
      </p>
      <p class="sub-title">
        Latest Recipes
      </p>
      <div class="recipe-card-items-wrapper">
        <RecipeCard
          v-for="(recipe, index) in recipes"
          :key="index"
          :recipe="recipe"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ImageCarousel from '@/components/ImageCarousel'
import RecipeCard from '@/components/Card/RecipeCard'

export default {
  components: {
    ImageCarousel,
    RecipeCard,
  },
  data() {
    return {
      categories: [
        { name: 'Appetizers' },
        { name: 'Beef' },
        { name: 'Chicken' },
        { name: 'Vegetarian' },
        { name: 'Desserts' },
      ],
      recipes: [
        {
          title: 'Title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
          author: 'Author Name',
          category: 'Beef',
          time: '1 hr 20 mins',
          score: 2,
        },
        {
          title: 'Title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
          author: 'Author Name',
          category: 'Beef',
          time: '1 hr 20 mins',
          score: 2.8,
        },
        {
          title: 'Title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
          author: 'Author Name',
          category: 'Beef',
          time: '1 hr 20 mins',
          score: 3,
        },
        {
          title: 'Title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
          author: 'Author Name',
          category: 'Beef',
          time: '1 hr 20 mins',
          score: 1,
        },
        {
          title: 'Title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
          author: 'Author Name',
          category: 'Beef',
          time: '1 hr 20 mins',
          score: 5,
        },
        {
          title: 'Title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
          author: 'Author Name',
          category: 'Beef',
          time: '1 hr 20 mins',
          score: 4,
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
@import '@/styles/responsive.scss';

.section {
  padding: 32px;
  text-align: center;
  > .title {
    color: #ff8d0a;
  }
  > .sub-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 24px;
  }
}

.category-items-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  > .category-item {
    margin-right: 24px;
    margin-bottom: 24px;
    cursor: pointer;
    > img {
      border-radius: 50%;
    }
    &:last-child {
      margin-right: 0;
    }
    @include respond-to ($mobile) {
      margin: 0 24px 24px;
      &:last-child {
        margin: 0 24px 24px;
      }
    }
  }
}

.recipe-card-items-wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}
</style>
