<template>
  <div class="rating-wrapper">
    <i
      class="material-icons star"
      v-for="(item, index) in floorScore"
      :key="`star-${index}`"
    />
    <i
      class="material-icons star_half"
      v-if="isHalf"
    />
    <i
      class="material-icons star_border"
      v-for="(item, index) in remainingScore"
      :key="`star-border-${index}`"
    />
  </div>
</template>

<script>
export default {
  props: {
    score: {
      default: 0,
      type: Number,
    },
    max: {
      default: 5,
      type: Number,
    },
  },
  computed: {
    floorScore() {
      return Math.floor(this.score)
    },
    ceilScore() {
      return Math.round(this.score)
    },
    isHalf() {
      return this.ceilScore > this.score
    },
    remainingScore() {
      let score = Math.ceil(this.max)
      if (this.isHalf) {
        score -= 1
      }
      return score - this.floorScore
    },
  },
}
</script>

<style lang="scss" scoped>

.rating-wrapper {
  > .star, .star_half {
    color: #ffad16;
  }
  > .star_border {
    color: #cfcfcf;
  }
}
</style>
