<template>
  <div class="top-bar-wrapper">
    <div class="menues-wrapper">
      <router-link
        v-for="(item, index) in items"
        :key="index"
        :to="item.path"
      >
        {{ item.name }}
      </router-link>
    </div>
    <div class="mobile-menues-wrapper">
      <div
        class="hamburger"
        @click="toggleMobileMenu"
      >
        <div />
      </div>
      <div
        :class="`menues${showMobileMenu ? ' show' : ''}`"
      >
        <router-link
          v-for="(item, index) in items"
          :key="index"
          :to="item.path"
        >
          {{ item.name }}
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      showMobileMenu: false,
      items: [
        {
          name: 'Home',
          path: '/',
        },
        {
          name: 'Browse Recipes',
          path: '/browse-recipes',
        },
        {
          name: 'Submit Recipe',
          path: '/submit-recipe',
        },
        {
          name: 'Pages',
          path: '/pages',
        },
        {
          name: 'News',
          path: '/news',
        },
        {
          name: 'Contact',
          path: '/contact',
        },
      ],
    }
  },
  methods: {
    toggleMobileMenu() {
      this.showMobileMenu = !this.showMobileMenu
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/styles/responsive.scss';

.top-bar-wrapper {
  > .menues-wrapper {
    display: flex;
    justify-content: center;
    @include respond-to ($mobile) {
      display: none;
    }
    > a {
      font-size: 0.8rem;
      padding: 16px 24px;
      color: #aaaaaa;
      text-decoration: none;
      font-weight: bold;
      transition: all 0.3s ease;
      &:hover {
        color: #111111;
      }
      &.router-link-active {
        color: #333333;
      }
    }
  }
  > .mobile-menues-wrapper {
    position: relative;
    height: 50px;
    > .hamburger {
      position: absolute;
      top: 0;
      right: 0;
      height: 50px;
      width: 50px;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      > div {
        width: 100%;
        background: #aaaaaa;
        height: 4px;
        position: relative;
        &::before, &::after {
          content: '';
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 4px;
          background: inherit;
        }
        &::before {
          top: -10px;
        }
        &::after {
          bottom: -10px;
        }
      }
    }
    > .menues {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      z-index: 3;
      background-color: #ffffff;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
      border-top: 1px solid #cfcfcf;
      &.show {
        max-height: 1000px;
        transition: max-height 1s ease-in-out;
      }
      > a {
        font-size: 0.8rem;
        padding: 16px 24px;
        color: #aaaaaa;
        text-decoration: none;
        font-weight: bold;
        transition: all 0.3s ease;
        &:hover {
          color: #111111;
        }
        &.router-link-active {
          color: #333333;
        }
      }
    }
  }
}
</style>
